body {
    background-color: #EC8E2B;
}

p {
    font-size: 20px;
    text-align: center;

}

.paddingBRUH {
    align-content: center;

    margin-left: 150px;
    margin-top: -50px;
    margin-right: 150px;

    background-color: floralwhite;
    padding: 50px;
    height: 1080px;
    font-size: 15px;
}

.paddingBTN {
    align-content: center;
    border-style: hidden;

    margin: 60px 0px 10px;

    background-color: floralwhite;
    padding: 10px;
    font-size: 30px;
}

.linkPadding {
    border-style: hidden;

    background-color: floralwhite;
    padding: 12px;
    font-size: 12px;

}